html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

h1 {
    padding: 20px 0;
    margin: 0;
    text-align: center;
    color: rgb(71, 44, 44);
    border-right: 8px double black;
    border-left: 8px double black;
    border-top: 3px dotted black;
    border-bottom: 10px solid black;
    border-radius: 10px;
    text-shadow: 3px 3px 1px yellow;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(164, 230, 89);
    border-radius: 30px;
    background-color: rgb(255, 254, 167);
    opacity: 0.95;
}

.tableofcont {
    display: inline-block;
    border: 2px solid black;
    border-bottom: 8px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-image: url("../images/seed.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

p {
    color: rgb(17, 59, 38);
}

img {
    max-width: 100%;
    height: auto;
}

.navbox {
    display: flex;
    padding: 20px;
}

.horizontal {
    font-size: 25px;
    color:crimson;
    inline-size: 485px;
    border: 10px solid blue;
    background-color: rgb(255, 218, 149);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 4%;
}

h2 {
    writing-mode: vertical-lr;
    color: white;
    background-color: blue;
    margin: 0px 10px auto auto;
    block-size: 100px;
}

.tocrow {
    display: flex;
}

iframe {
    padding-left: 10px;
}